version: "3"
services:
  app:
    container_name: agotapi
    restart: always
    build: .
    ports:
      - "80:3000"
    links:
      - mongo
  mongo:
    container_name: mongo
    image: mongo
    volumes:
      - ./db:/db
    ports:
      - "27017:27017"
