<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Agotapi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>
  <body>
    <div class="container">
      <blockquote class="blockquote">
        <q id="quote"></q>
        <p id="author"></p>
      </blockquote>
      <button id="button">Get a marvellous quote !</button>
    </div>

    <script>
      const getQuote = () => {
        fetch("/api/quote/random")
          .then(response => {
            return response.json();
          })
          .then(data => {
            document.getElementById("quote").innerHTML = '" ' + data.quote + ' "';
            document.getElementById("author").innerHTML = " - " + data.from;
          })
          .catch(err => {
            console.log(err);
          });
      };

      const btn = document.getElementById("button");

      btn.addEventListener("click", () => {
        getQuote();
      });

      getQuote();
    </script>
  </body>
</html>
